@import "tailwindcss";

/********************* Topbar *********************/

:root {
    --primary-color: #0E8660;
    --text-color: #334155;
    --p-text-muted-color: #64748b

}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/Lato-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/Lato-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/Lato-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Lato-Regular.woff2') format('woff2');
}

@layer base {
    p {
        margin-bottom: 1rem;
        line-height: 1.5;
    }
    html {
        height: 100%;
        font-size: 14px;
        line-height: 1.2;
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
        font-family: Lato, sans-serif;
    }
    
    .border-surface-200 {
        --tw-border-opacity: 1;
        border-color: color-mix(in srgb, #e2e8f0 calc(100%), transparent);
    }

    .hover\:border-primary:hover {
        --tw-border-opacity: 1;
        border-color: color-mix(in srgb, var(--primary-color) calc(100%), transparent);
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: inherit;
        font-weight: 700;
        line-height: 1.5;
        color: #334155;
        margin: 1.5rem 0px 1rem;
    }

    h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
        margin-top: 0px;
    }

    .bg-surface-0 {
        --tw-bg-opacity: 1;
        background-color: color-mix(in srgb, white calc(100% * var(--tw-bg-opacity)), transparent);
    }
}

.text-muted-color {
    color: var(--p-text-muted-color);
}

.p-button {
    display: inline-flex;
    cursor: pointer;
    user-select: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    padding: 0.5rem 0.75rem;
    line-height: inherit;
    background: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    font-size: 1rem;
    font-family: inherit;
    gap: 0.5rem;
    transition: background 0.2s, color 0.2s, border-color 0.2s, outline-color 0.2s, box-shadow 0.2s;
}

.p-button:not(:disabled):hover {
    background-color: #0C7451;
}

.p-button .p-button-label {
    font-weight: 500
}

.p-button-rounded {
    border-radius: 2rem;
}

.p-button-text {
    background: transparent;
    border-color: transparent;
    color: var(--primary-color);
}

.p-button-text:not(:disabled):hover {
    background: #ecfdf5;
    border-color: transparent;
}
